h1{
    text-align: center;
}

span, a{
    color: blue;
}

.texto{
    color: white;
    background-color: blue;
}

li{
    list-style-type: decimal;
    text-decoration: underline;
}

#rodape{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}


/* resposta do professor
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body{
    font-family: 'roberto',sans-serif;
}

.centered {
    text-align: center;
}

.text-blue {
    color: #3662ff;
}

.bg-blue {
    background: #3662ff;
    color: white;
}

.uppercase {
    text-transform: uppercase;
}
  
section {
    padding: 5px 20px;
}
  
li {
    text-decoration: underline;
}
  
.footer {
    margin-top: 36px; 
    background-color: black; 
    color: whitesmoke;
    text-align: center;
}
  
 .footer-p {
    padding: 1rem 0;
    font-size: 18px;
  }

*/