section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    font-family: sans-serif;
}

.formulario{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 50px;
    width: 500px;

}

button{
    margin: 5px;
    background-color: white;
    padding: 12px;
}

button:hover{
    background-color: blue;
    color: white;
}